{% extends 'base.html.twig' %}

{% block title %}CityGovJobs Cities Served{% endblock %}
{% block meta_description %}{% endblock %}

{% block body_master_row_class %}{% endblock %}
{% block body_master_column_class %}{% endblock %}

{% block body_main %}
<div class="row p-0 p-md-5">
        <section class="section section-text mb-3 tab-content city-content container bg-white">
            <div class="row justify-content-center">
                <div class="col-md-11 pt-5">
                    {{ include('cms_block/_cms_block.html.twig', { 'slug': 'cities-served' }) }}
                </div>
            </div>
        </section>
</div>
{% endblock %}
