{% extends 'base.html.twig' %}

{% block title %}CityGovJobs City Frequently Asked Questions{% endblock %}
{% block meta_description %}Frequently Asked Questions for City Goverments{% endblock %}

{% block body_master_row_class %}{% endblock %}
{% block body_master_column_class %}{% endblock %}

{% block body_main %}

    <div class="row bg-white justify-content-center">
        <div class="col-10 mx-6 px-5 py-3 bg-white">
            <h1>FAQ</h1>
        </div>
    </div>
    <div class="container">
        <div class="bg-white px-5 my-5 justify-content-center">
            <div class="container px-5 py-5 px-xs-2 ">
                {{ include('cms_block/_cms_block.html.twig', { 'slug': 'city-faq' }) }}
            </div>
        </div>
    </div>

{% endblock %}
