{% extends 'base.html.twig' %}

{% block title %}CityGovJobs Error{% endblock %}

{% block body_main %}
    <div class="py-5 text-center">
        {{ include('cms_block/_cms_block.html.twig', { 'slug': 'general-error' }) }}
    </div>
{% endblock %}
