{% extends 'base.html.twig' %}

{% block title %}CityGovJobs General FAQ{% endblock %}
{% block meta_description %}Frequently Asked Questions for Job Seekers and City Governments{% endblock %}

{% block body_master_row_class %}{% endblock %}
{% block body_master_column_class %}{% endblock %}

{% block body_main %}

    <div class="row bg-white p-5">
        <div class="col-12">
            {{ include('cms_block/_cms_block.html.twig', { 'slug': 'general-faq' }) }}
        </div>
    </div>

{% endblock %}
