{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <button type="submit" class="p-2 mt-5 btn-lg btn btn-primary btn-block btn">
            {{ 'change_password.submit'|trans }}
        </button>
    </div>
{{ form_end(form) }}