{% block javascripts %}
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
    <script>
        function CKupdate(){
            for ( instance in CKEDITOR.instances )
                CKEDITOR.instances[instance].updateElement();
        }

        $(document).ready(function() {
            CKEDITOR.replace( 'announcement[description]' );
            $('.ajax-form.ckeditor').click(function() {
                CKupdate();
            });
        });
    </script>
{% endblock %}
<div class="ajax-form ckeditor">
    <div class="row">
        <div class="col-md-12">
            <p>Enter URL to Application portal for this job and complete Description of Job Announcement below.</p>
        </div>
    </div>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_rest(form) }}
    <button type="button" class="btn btn-light cancel-btn">Cancel</button>
    <button type="submit" class="btn btn-primary save-btn">Save</button>
    {{ form_end(form) }}
</div>