{% extends 'base.html.twig' %}

{% block title %}CityGovJobs City Registration | Find City {% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body_master_container_class %}container{% endblock %}
{% block body_master_row_class %}bg-white px-5 my-5 justify-content-center{% endblock %}
{% block body_master_column_class %}container px-5 py-5 px-xs-2 {% endblock %}

{% block body_main %}
    <div class="row">
        <div class="col-md-12 pb-3 text-center">
            {{ include('cms_block/_cms_block.html.twig', { 'slug': 'city-user-registration-find-city-top' }) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
