.card {
  .card {
    &-header {
      .card-title {
        color: inherit;
      }
    }

    &-footer {
      background-color: $blue-two;
    }
  }
  .card-body {
      .card-link.clear-margin {
        @media only (max-width: 1170px) {
          margin-left: 0;
        }
      }
  }
}