<button type="button" class="btn btn-link btn-xs edit-btn">
    <i class="fa fa-edit"></i>
</button>
<button type="button" class="btn btn-link text-danger title btn-xs cancel-btn">
    <i class="fa fa-times"></i>
</button>