<div class="ajax-form file-upload">
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button type="button" class="btn btn-light cancel-btn">Cancel</button>
    <button type="submit" class="btn btn-primary save-btn">Save</button>
    {{ form_end(form) }}
</div>