
<div class="modal fade" id="updatePaymentMethodModal" tabindex="-1" aria-labelledby="updatePaymentMethodModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {{ form_start(updatePaymentForm, {'attr': {'id': 'update-payment-form', 'data-attribute':stripe_publishable_key }}) }}
            <div class="modal-header">
                <h3 class="modal-title" id="updatePaymentMethodModalLabel">Update your Payment Method</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row payment-information">
                    <div class="col-12">

                        <div class="form-group">
                            <label>Card Details</label>
                            <div id="update-card" class="form-control"></div>
                            <div id="card-errors" role="alert"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                <button type="submit" value="submit" class="btn btn-primary">Save Changes</button>
            </div>
            {{ form_end(updatePaymentForm) }}
        </div>
    </div>
</div>